@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Global */

.key {
    background-color: #242426;
    border: 1px solid #404040;
    padding: 3px 8px;
    border-radius: 5px;

    text-transform: uppercase;
}

:root {
    --bg-primary: #0A0A0C;
    --primary-text: #FFFEFF;
    --secundary-text: #FFEFFF;
    --inactive: #83848B;

    --white: #FFFFFF;
    --black: #000000;

    --pink-100: #F795B4;
    --pink-200: #F07C9D;
    --pink-300: #FFAFCC;
    --pink-400: #FF41A1;

    --purple-100: #BB7FF8;
    --purple-200: #D797FF;

    --font-family: 'Quantico', sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--primary-text);
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: space-between;
    margin-inline: 10%;
    margin-block: 30px;
}

.navigation {
    display: flex;
    gap: 20px;
    align-items: center;

}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li {
    color: var(--inactive);
    transition: color 0.3s ease-in-out;
}

header ul li:hover {
    color: var(--primary-text);
}

.RL-buttons {
    display: flex;
    gap: 30px;
}

.RL-buttons button {
    display: flex;
    gap: 5px;
    align-items: center;

    background-color: transparent;
    border: none;

    color: var(--inactive);
    font-size: 18px;

    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.RL-buttons button:hover {
    color: var(--primary-text);
}

/* Main */

.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-inline: 10%;
    margin-top: 5%;
}

.center-text h1 {
    font-size: 40px;
    
    /* background: -webkit-linear-gradient(45deg, var(--white), var(--pink-100), var(--purple-100)); */
    background: -webkit-linear-gradient(45deg, var(--white), var(--purple-200), var(--purple-100));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center-text p {
    text-align: center;
}

.main-img {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.main-view img {
    width: 60%;
}