@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Global */

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--inactive);
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.wrong {
    border: 1px solid var(--wrong) !important;
}

.opacity {
    opacity: 0;
}

.key {
    background-color: #242426;
    border: 1px solid #404040;
    padding: 3px 8px;
    border-radius: 5px;

    text-transform: uppercase;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    height: 10vh;

    padding-inline: 5%;

    background-color: #2F2F2F;
}

footer img {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--black);
}

:root {
    --bg-primary: #0A0A0C;
    --primary-text: #FFFEFF;
    --secundary-text: #FFEFFF;
    --inactive: #83848B;

    --white: #FFFFFF;
    --black: #000000;

    --pink-100: #F795B4;
    --pink-200: #F07C9D;
    --pink-300: #FFAFCC;
    --pink-400: #FF41A1;

    --wrong: #FF0000;

    --purple-100: #BB7FF8;
    --purple-200: #D797FF;

    --font-family: 'Quantico', sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--primary-text);
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: space-between;
    margin-inline: 10%;
    height: 10vh;
}

.navigation {
    display: flex;
    gap: 20px;
    align-items: center;

}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li {
    color: var(--inactive);
    transition: color 0.3s ease-in-out;
}

header ul li:hover {
    color: var(--primary-text);
}

.RL-buttons {
    display: flex;
    gap: 30px;
}

.RL-buttons a {
    display: flex;
    gap: 5px;
    align-items: center;

    background-color: transparent;
    border: none;

    color: var(--inactive);
    font-size: 18px;

    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.RL-buttons a:hover {
    color: var(--primary-text);
}

/* Main */

.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-inline: 10%;
    margin-top: 5%;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 20px;
    gap: 10px;
}.center-text h1 {
    font-size: 40px;
    
    /* background: -webkit-linear-gradient(45deg, var(--white), var(--pink-100), var(--purple-100)); */
    background: -webkit-linear-gradient(45deg, var(--white), var(--purple-200), var(--purple-100));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-img {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.main-view img {
    width: calc(100% - 160px);
}

/* Login & Register */

.lr-navigation {
    display: flex;
    margin-inline: 5%;
    font-size: 20px;
    /* align-items: center;
    justify-content: center; */
}

.lr-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
}

.lr-page > .main-view {
    margin: 0;
    gap: 30px;
}

.lr-text h1 {
    background: -webkit-linear-gradient(45deg, var(--white), var(--purple-100), var(--white));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.lr-text p {
    color: var(--inactive);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-container form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.form-container form div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    width: 80%;
    height: 40px;

    background: rgba(55, 55, 55, 0.4);
    outline: none;
    border: 1px solid var(--inactive);
    border-radius: 25px;

    padding: 0 20px;

    color: var(--primary-text);
}

form i {
    position: absolute;
    display: flex;

    right: 13%;

    font-size: 23px;
    color: var(--inactive);
    cursor: pointer;
}

form i:hover {
    color: var(--primary-text);
}

.googleLogin {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    opacity: 0.7;

    gap: 15px;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease-in-out;
}

.googleLogin:hover {
    opacity: 1;
}

.googleLogin img {
    width: 30px;
}

.lr-lr {
    position: absolute;
    bottom: 3%;

    color: var(--inactive);
}

.lr-lr span {
    color: var(--primary-text);
    cursor: pointer;
}

.backgroundEffect {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 30% !important;
    z-index: -1;

    filter: blur(55px);
    pointer-events: none;
}